{
  "Hamilton": [
    34,
    47,
    73,
    78,
    97],
  "Russell": [
    28,
    54,
    87,
    120,
    156],
  "Verstappen": [
    5,
    50,
    54,
    116,
    172],
  "Perez": [
    4,
    26,
    61,
    105,
    133],
  "Leclerc": [
    49,
    90,
    139,
    169,
    219],
  "Sainz": [
    32,
    59,
    54,
    61,
    92],
  "Ricciardo": [
    13,
    5,
    23,
    28,
    36],
  "Norris": [
    1,
    23,
    47,
    90,
    88],
  "Alonso": [
    9,
    6,
    1,
    3,
    8],
  "Ocon": [
    20,
    41,
    61,
    74,
    92],
  "Gasly": [
    -4,
    13,
    27,
    40,
    39],
  "Tsunoda": [
    19,
    4,
    3,
    33,
    36],
  "Vettel": [
    4,
    19,
    12,
    36,
    31],
  "Stroll": [
    15,
    24,
    33,
    48,
    59],
  "Albon": [
    10,
    23,
    28,
    42,
    61],
  "Latifi": [
    10,
    1,
    9,
    19,
    31],
  "Bottas": [
    22,
    20,
    40,
    74,
    91],
  "Zhou": [
    14,
    24,
    33,
    41,
    32],
  "Schumacher": [
    5,
    7,
    19,
    16,
    24],
  "Magnussen": [
    27,
    41,
    47,
    65,
    67]
}
