{
  "Hamilton": [
    34,
    47,
    73,
    78],
  "Russell": [
    28,
    54,
    87,
    120],
  "Verstappen": [
    5,
    50,
    54,
    116],
  "Perez": [
    4,
    26,
    61,
    105],
  "Leclerc": [
    49,
    90,
    139,
    169],
  "Sainz": [
    32,
    59,
    54,
    61],
  "Ricciardo": [
    13,
    5,
    23,
    28],
  "Norris": [
    1,
    23,
    47,
    90],
  "Alonso": [
    9,
    6,
    1,
    3],
  "Ocon": [
    20,
    41,
    61,
    74],
  "Gasly": [
    -4,
    13,
    27,
    40],
  "Tsunoda": [
    19,
    4,
    3,
    33],
  "Vettel": [
    4,
    19,
    12,
    36],
  "Stroll": [
    15,
    24,
    33,
    48],
  "Albon": [
    10,
    23,
    28,
    42],
  "Latifi": [
    10,
    1,
    9,
    19],
  "Bottas": [
    22,
    20,
    40,
    74],
  "Zhou": [
    14,
    24,
    33,
    41],
  "Schumacher": [
    5,
    7,
    19,
    16],
  "Magnussen": [
    27,
    41,
    47,
    65]
}
