{
  "Hamilton": [
    31.0,
    31.0,
    30.6,
    30.4,
    30.2,
    30.2],
  "Russell": [
    24.0,
    24.0,
    23.7,
    23.8,
    24.0,
    24.2],
  "Verstappen": [
    30.5,
    30.5,
    30.4,
    30.3,
    30.3,
    30.3],
  "Perez": [
    17.5,
    17.5,
    17.7,
    18.0,
    18.1,
    18.3],
  "Leclerc": [
    18.0,
    18.0,
    18.7,
    18.8,
    18.9,
    19.0],
  "Sainz": [
    17.0,
    17.0,
    17.3,
    17.3,
    17.3,
    17.2],
  "Ricciardo": [
    14.5,
    14.5,
    13.8,
    14.0,
    14.1,
    14.0],
  "Norris": [
    16.0,
    16.0,
    15.4,
    15.8,
    16.0,
    16.1],
  "Alonso": [
    12.5,
    12.5,
    12.3,
    12.5,
    12.5,
    12.5],
  "Ocon": [
    12.0,
    12.0,
    12.4,
    12.6,
    12.5,
    12.4],
  "Gasly": [
    13.5,
    13.5,
    13.3,
    13.1,
    13.0,
    13.0],
  "Tsunoda": [
    8.5,
    8.5,
    8.5,
    8.4,
    8.3,
    8.3],
  "Vettel": [
    11.5,
    11.5,
    11.5,
    11.4,
    11.4,
    11.4],
  "Stroll": [
    9.5,
    9.5,
    9.1,
    9.0,
    8.9,
    8.9],
  "Albon": [
    7.5,
    7.5,
    7.3,
    7.1,
    7.1,
    7.5],
  "Latifi": [
    7.0,
    7.0,
    6.8,
    6.7,
    6.6,
    6.6],
  "Bottas": [
    9.0,
    9.0,
    9.5,
    9.4,
    9.4,
    9.4],
  "Zhou": [
    8.0,
    8.0,
    8.2,
    8.5,
    8.4,
    8.3],
  "Schumacher": [
    6.5,
    6.5,
    6.4,
    6.3,
    6.2,
    6.2],
  "Magnussen": [
    5.5,
    5.5,
    6.0,
    6.0,
    6.1,
    6.1]
}
