{
  "Hamilton": [
    34,
    13,
    26,
    5,
    19
  ],
  "Russell": [
    28,
    26,
    33,
    33,
    36
  ],
  "Verstappen": [
    5,
    45,
    4,
    62,
    56
  ],
  "Perez": [
    4,
    22,
    35,
    44,
    28
  ],
  "Leclerc": [
    49,
    41,
    49,
    30,
    50
  ],
  "Sainz": [
    32,
    27,
    -5,
    7,
    31
  ],
  "Ricciardo": [
    13,
    -8,
    18,
    5,
    8
  ],
  "Norris": [
    1,
    22,
    24,
    43,
    -2
  ],
  "Alonso": [
    9,
    -3,
    -5,
    2,
    5
  ],
  "Ocon": [
    20,
    21,
    20,
    13,
    18
  ],
  "Gasly": [
    -4,
    17,
    14,
    13,
    -1
  ],
  "Tsunoda": [
    19,
    -15,
    -1,
    30,
    3
  ],
  "Vettel": [
    4,
    15,
    -7,
    24,
    -5
  ],
  "Stroll": [
    15,
    9,
    9,
    15,
    11
  ],
  "Albon": [
    10,
    13,
    5,
    14,
    19
  ],
  "Latifi": [
    10,
    -9,
    8,
    10,
    12
  ],
  "Bottas": [
    22,
    -2,
    20,
    34,
    17
  ],
  "Zhou": [
    14,
    10,
    9,
    8,
    -9
  ],
  "Schumacher": [
    5,
    2,
    12,
    -3,
    8
  ],
  "Magnussen": [
    27,
    14,
    6,
    18,
    2
  ]
}
