{
  "Mercedes": [
    57,
    34,
    64,
    31,
    40
  ],
  "Red Bull": [
    4,
    62,
    39,
    99,
    69
  ],
  "Ferrari": [
    76,
    63,
    44,
    30,
    56
  ],
  "McLaren": [
    9,
    9,
    37,
    41,
    1
  ],
  "Alpine": [
    24,
    13,
    10,
    8,
    18
  ],
  "AlphaTauri": [
    10,
    -3,
    8,
    36,
    -3
  ],
  "Aston Martin": [
    14,
    19,
    -3,
    32,
    1
  ],
  "Williams": [
    15,
    -1,
    8,
    17,
    26
  ],
  "Alfa Romeo": [
    31,
    3,
    24,
    35,
    3
  ],
  "Haas": [
    27,
    11,
    13,
    8,
    5
  ]
}
