{
  "Mercedes": [
    57,
    34,
    64,
    31,
    40,
    49,
    42,
    60,
    55,
    30,
    72,
    63,
    76,
    29,
    58
  ],
  "Red Bull": [
    4,
    62,
    39,
    99,
    69,
    94,
    69,
    77,
    31,
    42,
    50,
    62,
    63,
    86,
    64
  ],
  "Ferrari": [
    76,
    63,
    44,
    30,
    56,
    30,
    51,
    3,
    60,
    61,
    63,
    37,
    35,
    41,
    47
  ],
  "McLaren": [
    9,
    9,
    37,
    41,
    1,
    13,
    26,
    24,
    3,
    22,
    37,
    21,
    7,
    -4,
    16
  ],
  "Alpine": [
    24,
    13,
    10,
    8,
    18,
    33,
    15,
    27,
    23,
    14,
    40,
    33,
    23,
    33,
    32
  ],
  "AlphaTauri": [
    10,
    -3,
    8,
    36,
    -3,
    15,
    5,
    18,
    -3,
    -7,
    4,
    6,
    8,
    23,
    -2
  ],
  "Aston Martin": [
    14,
    19,
    -3,
    32,
    1,
    20,
    15,
    28,
    25,
    26,
    15,
    22,
    22,
    25,
    18
  ],
  "Williams": [
    15,
    -1,
    8,
    17,
    26,
    14,
    1,
    20,
    9,
    -8,
    0,
    -2,
    8,
    5,
    15
  ],
  "Alfa Romeo": [
    31,
    3,
    24,
    35,
    3,
    10,
    21,
    3,
    30,
    -13,
    12,
    7,
    -2,
    -8,
    -10
  ],
  "Haas": [
    27,
    11,
    13,
    8,
    5,
    -6,
    -16,
    3,
    -2,
    29,
    38,
    4,
    2,
    5,
    5
  ]
}
