{
  "Hamilton": [
    34,
    13,
    26,
    5
  ],
  "Russell": [
    28,
    26,
    33,
    33
  ],
  "Verstappen": [
    5,
    45,
    4,
    62
  ],
  "Perez": [
    4,
    22,
    35,
    44
  ],
  "Leclerc": [
    49,
    41,
    49,
    30
  ],
  "Sainz": [
    32,
    27,
    -5,
    7
  ],
  "Ricciardo": [
    13,
    -8,
    18,
    5
  ],
  "Norris": [
    1,
    22,
    24,
    43
  ],
  "Alonso": [
    9,
    -3,
    -5,
    2
  ],
  "Ocon": [
    20,
    21,
    20,
    13
  ],
  "Gasly": [
    -4,
    17,
    14,
    13
  ],
  "Tsunoda": [
    19,
    -15,
    -1,
    30
  ],
  "Vettel": [
    4,
    15,
    -7,
    24
  ],
  "Stroll": [
    15,
    9,
    9,
    15
  ],
  "Albon": [
    10,
    13,
    5,
    14
  ],
  "Latifi": [
    10,
    -9,
    8,
    10
  ],
  "Bottas": [
    22,
    -2,
    20,
    34
  ],
  "Zhou": [
    14,
    10,
    9,
    8
  ],
  "Schumacher": [
    5,
    2,
    12,
    -3
  ],
  "Magnussen": [
    27,
    14,
    6,
    18
  ]
}
