{
  "Mercedes": [
    57,
    34,
    64,
    31
  ],
  "Red Bull": [
    4,
    62,
    39,
    99
  ],
  "Ferrari": [
    76,
    63,
    44,
    30
  ],
  "McLaren": [
    9,
    9,
    37,
    41
  ],
  "Alpine": [
    24,
    13,
    10,
    8
  ],
  "AlphaTauri": [
    10,
    -3,
    8,
    36
  ],
  "Aston Martin": [
    14,
    19,
    -3,
    32
  ],
  "Williams": [
    15,
    -1,
    8,
    17
  ],
  "Alfa Romeo": [
    31,
    3,
    24,
    35
  ],
  "Haas": [
    27,
    11,
    13,
    8
  ]
}
