{
  "Mercedes": [
    57,
    91,
    155,
    186,
    226],
  "Red Bull": [
    4,
    66,
    105,
    204,
    273],
  "Ferrari": [
    76,
    139,
    183,
    213,
    269],
  "McLaren": [
    9,
    18,
    55,
    96,
    97],
  "Alpine": [
    24,
    37,
    47,
    55,
    73],
  "AlphaTauri": [
    10,
    7,
    15,
    51,
    48],
  "Aston Martin": [
    14,
    33,
    30,
    62,
    63],
  "Williams": [
    15,
    14,
    22,
    39,
    65],
  "Alfa Romeo": [
    31,
    34,
    58,
    93,
    96],
  "Haas": [
    27,
    38,
    51,
    59,
    64]
}
