{
  "Mercedes": [
    57,
    91,
    155,
    186],
  "Red Bull": [
    4,
    66,
    105,
    204],
  "Ferrari": [
    76,
    139,
    183,
    213],
  "McLaren": [
    9,
    18,
    55,
    96],
  "Alpine": [
    24,
    37,
    47,
    55],
  "AlphaTauri": [
    10,
    7,
    15,
    51],
  "Aston Martin": [
    14,
    33,
    30,
    62],
  "Williams": [
    15,
    14,
    22,
    39],
  "Alfa Romeo": [
    31,
    34,
    58,
    93],
  "Haas": [
    27,
    38,
    51,
    59]
}
