{
    "Team": [
        "Driver 1",
        "Driver 2",
        "Driver 3",
        "Driver 4",
        "Driver 5",
        "Team",
        "Turbo Driver",
        "Mega Driver",
        "Penalties",
        "Wildcard"],
    "Races": [
        "Bahrain",
        "Saudi Arabia",
        "Australia",
        "Imola",
        "Miami",
        "Spain",
        "Monaco",
        "Azerbaijan",
        "Canada",
        "Great Britain",
        "Austria",
        "France",
        "Hungary",
        "Belgium",
        "Netherlands",
        "Italy",
        "Singapore",
        "Japan",
        "United States",
        "Mexico",
        "Brazil",
        "Abu Dhabi"],
    "Statistics": [
        "Total",
        "Total Points/Value",
        "Average",
        "Average Points/Value",
        "Standard Deviation",
        "Maximum",
        "Minimum",
        "Range"]
}