{
    "Team": ["Driver 1", "Driver 2", "Driver 3", "Driver 4", "Driver 5", "Team", "Turbo Driver", "Mega Driver", "Penalties", "Wildcard"],
    "Races": ["Bahrain", "Imola", "Portugal", "Spain", "Monaco", "Azerbaijan", "France", "Styria", "Austria", "Great Britain", "Hungary", "Belgium", "Netherlands", "Italy", "Russia", "Singapore", "Japan", "United States", "Mexico", "Brazil", "Australia", "Saudi Arabia", "Abu Dhabi"],
    "Statistics": ["Total", "Total Points/Value", "Average", "Average Points/Value", "Standard Deviation", "Maximum", "Minimum", "Range"]
}