{
    "Mercedes": ["Hamilton", "Russell"],
    "Red Bull": ["Verstappen", "Perez"],
    "Ferrari": ["Leclerc", "Sainz"],
    "McLaren": ["Ricciardo", "Norris"],
    "Alpine": ["Alonso", "Ocon"],
    "AlphaTauri": ["Gasly", "Tsunoda"],
    "Aston Martin": ["Vettel", "Stroll"],
    "Williams": ["Albon", "Latifi"],
    "Alfa Romeo": ["Bottas", "Zhou"],
    "Haas": ["Schumacher", "Magnussen"]
}