{
    "James R": [
        "Bwoah Racing",
        "Bwoah You Will Not Have The Drincc Racing",
        "Bwoah Rolex Pringle Golfing 2022"],
    "Will R": [
        "Dinoco Piston Cup Champions",
        "Boogity Boogity Boogity, Lets Go Racing Today Boys",
        "The Big One Presented By Firestone"],
    "Phil M": [
        "Team 1",
        "Team 2",
        "Team 3"],
    "Madlen P": [
        "Les Eclairs",
        "Maxy & The Boys",
        "Go Boys Give Us Nothing"],
    "Josh H": [
        "Surprise Me",
        "Sorry Josh",
        "Okay Lets Go"],
    "Patrick L": [
        "Johnny Unihaas"],
    "Pete J": [
        "Wet Canada Mediums",
        "Monaco Front Wing Specialists",
        "Use The Brazil Setup"],
    "Stuart S": [
        "Sloth's Champions",
        "Sloth's So Not Rights",
        "Sloth's Silver Arrows"],
    "Cameron M": [
        "Lineal Champ",
        "He Has To Give That Place Back",
        "Team 3"],
    "Joe T": [
        "Sting Ray Robb Fanclub",
        "Sting Ray Robb Fanclub But The 2nd Team"],
    "Josh M": [
        "White Wall Tyres",
        "Motor Racing",
        "Extending Track Limits"],
    "Charlie L": [
        "The Team That Couldn't Slow Down",
        "Go Banana"],
    "Jake M": [
        "Ferrari: The League Of Failing Red Drivers",
        "The Unsuccessfuls",
        "Meme Lords 33 This Times It's A Personale"],
    "Tess M": [
        "Valterri's Sweet Eyes"],
    "Val M": [
        "Oh Fuck Is He Behind Me",
        "Just Leave Me Alone, I Know What To Do",
        "Seb's Gang"],
    "Matt H": [
        "The Lord Of The Rims",
        "Im Tyred Of Coming Last",
        "Dodge, Duck, Dip, Dive and Dodge"],
    "Matty J": [
        "Wings N' Slicks",
        "Heavy Vettel",
        "Bottas And Hoes"],
    "Pierce C": [
        "Hope Ferrari Do Well",
        "There's A Wall",
        "Hope McLaren Do Well"],
    "Thomas M": [
        "Canada 2019 Truthers"],
    "Andrew F": [
        "Scuderia Sbinnala Sponsored By St Chad Of Mercia",
        "Not Bad For A",
        "I Simp For Zak Brown"],
    "Nathan W": [
        "Force India",
        "Team 2",
        "Team 3"],
    "Ashley N": [
        "Team 1",
        "Team 2",
        "Team 3"],
    "Fred B": [
        "Neme Miche Racing"],
    "Samuel F": [
        "All The Time You Have To Leave The Space"]
}