{
    "Sam Finney": ["Yet Another Constructor", "Pay 2 Win", "Lets Get To Verstappen"],
    "Josh Holland": ["Ha, Ferrari", "You Never Know", "No Messing"],
    "Jake Male": ["The New Grosjean And The Underwhelmers", "Meme Lords Rule 2,0", "Ferrari If It Worked For Once!"],
    "Stuart Sykes": ["Sloth's Sharp Shooters", "Sloth's Go-Farts", "Speedy Sloths"],
    "Val Male": ["Flying With The Red Bulls", "Heinz 57", "Let's Have Faith In Ferrari"],
    "Josh Male": ["Did You Remember To Drink", "Fernando Is Faster Than You", "Mercedes Inc"],
    "Matty Jones": ["Hybrid Theory", "Chocolate Starfish And The Hotdog Flavored Water", "All Thriller No Filler"],
    "Will Reckitt": ["The Big One Presented By Firestone", "Boogity Boogity Boogity Let's Go Racing Boys", "2 Secs Ted"],
    "Matt Horrocks": ["I'm Only Here For The Free Buffet,,,,", "Ultra Racing Team 5000-MKII (Boost Mode Enabled)", "Square Wheel Racing"],
    "Nick Van Lith": ["Rapid Ricky by Nicky", "I Don't Like These People", "Return Of The Oldies,,,"],
    "Nathan Waddell": ["Russell It Up", "Force India", "Golf India"],
    "Cameron Morris": ["Cameron Team 1", "Champ", "Cameron's Golf Buggy"],
    "James Reckitt": ["Bwoah Racing", "Bwoah Gloves And Steering Wheel", "Bwoah Sbinalla Golfing"],
    "Madeleine P": ["Maxy33 and the Boys", "Mainstream Team", "The Third Wheel"]
}