{
  "Driver 1": [
    "Latifi",
    "Latifi",
    "Latifi",
    "Latifi",
    "Latifi",
    "Latifi",
    "Latifi",
    "Latifi",
    "Latifi",
    "Latifi",
    "Latifi",
    "Latifi",
    "Latifi",
    "Latifi",
    "Latifi",
    "Latifi",
    "Latifi",
    "Latifi",
    "Latifi",
    "Latifi",
    "Latifi",
    "Latifi"
  ],
  "Driver 2": [
    "Giovinazzi",
    "Giovinazzi",
    "Giovinazzi",
    "Giovinazzi",
    "Giovinazzi",
    "Giovinazzi",
    "Giovinazzi",
    "Giovinazzi",
    "Giovinazzi",
    "Giovinazzi",
    "Giovinazzi",
    "Giovinazzi",
    "Giovinazzi",
    "Stroll",
    "Stroll",
    "Stroll",
    "Stroll",
    "Stroll",
    "Stroll",
    "Stroll",
    "Stroll",
    "Stroll"
  ],
  "Driver 3": [
    "Tsunoda",
    "Tsunoda",
    "Tsunoda",
    "Tsunoda",
    "Tsunoda",
    "Tsunoda",
    "Tsunoda",
    "Tsunoda",
    "Tsunoda",
    "Tsunoda",
    "Tsunoda",
    "Tsunoda",
    "Tsunoda",
    "Tsunoda",
    "Tsunoda",
    "Tsunoda",
    "Tsunoda",
    "Tsunoda",
    "Tsunoda",
    "Tsunoda",
    "Tsunoda",
    "Tsunoda"
  ],
  "Driver 4": [
    "Sainz",
    "Sainz",
    "Sainz",
    "Sainz",
    "Mazepin",
    "Mazepin",
    "Mazepin",
    "Mazepin",
    "Mazepin",
    "Mazepin",
    "Mazepin",
    "Mazepin",
    "Mazepin",
    "Mazepin",
    "Mazepin",
    "Mazepin",
    "Mazepin",
    "Mazepin",
    "Mazepin",
    "Mazepin",
    "Mazepin",
    "Mazepin"
  ],
  "Driver 5": [
    "Schumacher",
    "Schumacher",
    "Schumacher",
    "Schumacher",
    "Schumacher",
    "Schumacher",
    "Schumacher",
    "Schumacher",
    "Schumacher",
    "Schumacher",
    "Schumacher",
    "Schumacher",
    "Schumacher",
    "Schumacher",
    "Schumacher",
    "Schumacher",
    "Schumacher",
    "Schumacher",
    "Schumacher",
    "Schumacher",
    "Schumacher",
    "Schumacher"
  ],
  "Team": [
    "Haas",
    "Haas",
    "Haas",
    "Haas",
    "Haas",
    "Haas",
    "Haas",
    "Haas",
    "Haas",
    "Haas",
    "Haas",
    "Haas",
    "Haas",
    "Haas",
    "Haas",
    "Haas",
    "Haas",
    "Haas",
    "Haas",
    "Haas",
    "Haas",
    "Haas"
  ],
  "Turbo Driver": [
    "Latifi",
    "Latifi",
    "Latifi",
    "Latifi",
    "Latifi",
    "Latifi",
    "Latifi",
    "Latifi",
    "Latifi",
    "Latifi",
    "Latifi",
    "Latifi",
    "Latifi",
    "Mazepin",
    "Mazepin",
    "Mazepin",
    "Mazepin",
    "Mazepin",
    "Mazepin",
    "Mazepin",
    "Mazepin",
    "Mazepin"
  ],
  "Mega Driver": [
    "None",
    "None",
    "None",
    "None",
    "Mazepin",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "Tsunoda",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None"
  ],
  "Penalties": [
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0
  ],
  "Wildcard": [
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0
  ]
}
