{
  "Driver 1": [
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton"
  ],
  "Driver 2": [
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen"
  ],
  "Driver 3": [
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris"
  ],
  "Driver 4": [
    "Raikkonen",
    "Raikkonen",
    "Raikkonen",
    "Raikkonen",
    "Raikkonen",
    "Raikkonen",
    "Raikkonen",
    "Raikkonen",
    "Raikkonen",
    "Raikkonen",
    "Raikkonen",
    "Raikkonen",
    "Raikkonen",
    "Giovinazzi",
    "Giovinazzi",
    "Giovinazzi",
    "Giovinazzi",
    "Giovinazzi",
    "Giovinazzi",
    "Giovinazzi",
    "Giovinazzi",
    "Giovinazzi"
  ],
  "Driver 5": [
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell"
  ],
  "Team": [
    "AlphaTauri",
    "AlphaTauri",
    "AlphaTauri",
    "AlphaTauri",
    "AlphaTauri",
    "AlphaTauri",
    "AlphaTauri",
    "AlphaTauri",
    "AlphaTauri",
    "AlphaTauri",
    "AlphaTauri",
    "AlphaTauri",
    "AlphaTauri",
    "AlphaTauri",
    "AlphaTauri",
    "AlphaTauri",
    "AlphaTauri",
    "AlphaTauri",
    "AlphaTauri",
    "AlphaTauri",
    "AlphaTauri",
    "AlphaTauri"
  ],
  "Turbo Driver": [
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris"
  ],
  "Mega Driver": [
    "None",
    "None",
    "None",
    "None",
    "Hamilton",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "Verstappen",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None"
  ],
  "Penalties": [
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0
  ],
  "Wildcard": [
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0
  ]
}
