{
  "Driver 1": [
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen"
  ],
  "Driver 2": [
    "Ocon",
    "Ocon",
    "Ocon",
    "Ocon",
    "Ocon",
    "Ocon",
    "Ocon",
    "Ocon",
    "Ocon",
    "Leclerc",
    "Leclerc",
    "Leclerc",
    "Leclerc",
    "Leclerc",
    "Leclerc",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Vettel",
    "Vettel"
  ],
  "Driver 3": [
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly"
  ],
  "Driver 4": [
    "Mazepin",
    "Mazepin",
    "Mazepin",
    "Mazepin",
    "Mazepin",
    "Mazepin",
    "Mazepin",
    "Mazepin",
    "Mazepin",
    "Mazepin",
    "Mazepin",
    "Mazepin",
    "Mazepin",
    "Mazepin",
    "Mazepin",
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell"
  ],
  "Driver 5": [
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Sainz",
    "Sainz"
  ],
  "Team": [
    "Red Bull",
    "Red Bull",
    "Red Bull",
    "Red Bull",
    "Red Bull",
    "Red Bull",
    "Red Bull",
    "Red Bull",
    "Red Bull",
    "Red Bull",
    "Red Bull",
    "Red Bull",
    "Red Bull",
    "Red Bull",
    "Red Bull",
    "Red Bull",
    "Red Bull",
    "Red Bull",
    "Red Bull",
    "Red Bull",
    "Red Bull",
    "Red Bull"
  ],
  "Turbo Driver": [
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Sainz",
    "Sainz"
  ],
  "Mega Driver": [
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "Hamilton",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "Verstappen",
    "None",
    "None",
    "None",
    "None"
  ],
  "Penalties": [
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0
  ],
  "Wildcard": [
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0
  ]
}
