{
  "Driver 1": [
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    ""
  ],
  "Driver 2": [
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    ""
  ],
  "Driver 3": [
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    ""
  ],
  "Driver 4": [
    "Schumacher",
    "Schumacher",
    "Schumacher",
    "Schumacher",
    "Schumacher",
    "Schumacher",
    ""
  ],
  "Driver 5": [
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    ""
  ],
  "Team": [
    "Red Bull",
    "Red Bull",
    "Red Bull",
    "Red Bull",
    "Red Bull",
    "Red Bull",
    ""
  ],
  "Turbo Driver": [
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    ""
  ],
  "Mega Driver": [
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    ""
  ],
  "Penalties": [
    0,
    0,
    0,
    0,
    0,
    0
  ],
  "Wildcard": [
    0,
    0,
    0,
    0,
    0,
    0
  ]
}
