{
  "Driver 1": [
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez"
  ],
  "Driver 2": [
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell"
  ],
  "Driver 3": [
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly"
  ],
  "Driver 4": [
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton"
  ],
  "Driver 5": [
    "Ocon",
    "Ocon",
    "Ocon",
    "Ocon",
    "Ocon",
    "Ocon",
    "Ocon",
    "Ocon",
    "Ocon",
    "Ocon",
    "Ocon",
    "Ocon",
    "Ocon",
    "Ocon",
    "Ocon",
    "Ocon",
    "Ocon",
    "Ocon",
    "Ocon",
    "Ocon",
    "Ocon",
    "Ocon"
  ],
  "Team": [
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren"
  ],
  "Turbo Driver": [
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez"
  ],
  "Mega Driver": [
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "Hamilton",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None"
  ],
  "Penalties": [
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0
  ],
  "Wildcard": [
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0
  ]
}
