{
  "Driver 1": [
    "Bottas",
    "Bottas",
    "Bottas",
    "Bottas",
    "Bottas",
    "Bottas",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly"
  ],
  "Driver 2": [
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez"
  ],
  "Driver 3": [
    "Alonso",
    "Alonso",
    "Alonso",
    "Ocon",
    "Ocon",
    "Ocon",
    "Leclerc",
    "Leclerc",
    "Leclerc",
    "Leclerc",
    "Leclerc",
    "Leclerc",
    "Leclerc",
    "Leclerc",
    "Leclerc",
    "Leclerc",
    "Leclerc",
    "Leclerc",
    "Leclerc",
    "Leclerc",
    "Leclerc",
    "Leclerc"
  ],
  "Driver 4": [
    "Sainz",
    "Sainz",
    "Sainz",
    "Gasly",
    "Gasly",
    "Gasly",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris"
  ],
  "Driver 5": [
    "Tsunoda",
    "Tsunoda",
    "Tsunoda",
    "Tsunoda",
    "Tsunoda",
    "Tsunoda",
    "Giovinazzi",
    "Giovinazzi",
    "Giovinazzi",
    "Giovinazzi",
    "Giovinazzi",
    "Giovinazzi",
    "Giovinazzi",
    "Giovinazzi",
    "Giovinazzi",
    "Giovinazzi",
    "Giovinazzi",
    "Giovinazzi",
    "Giovinazzi",
    "Giovinazzi",
    "Giovinazzi",
    "Giovinazzi"
  ],
  "Team": [
    "McLaren",
    "McLaren",
    "McLaren",
    "Red Bull",
    "Red Bull",
    "Red Bull",
    "Red Bull",
    "Red Bull",
    "Red Bull",
    "Red Bull",
    "Red Bull",
    "Red Bull",
    "Red Bull",
    "Red Bull",
    "Red Bull",
    "Red Bull",
    "Red Bull",
    "Red Bull",
    "Red Bull",
    "Red Bull",
    "Red Bull",
    "Red Bull"
  ],
  "Turbo Driver": [
    "Perez",
    "Perez",
    "Perez",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly"
  ],
  "Mega Driver": [
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None"
  ],
  "Penalties": [
    0,
    0,
    0,
    1,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0
  ],
  "Wildcard": [
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0
  ]
}
