{
  "Driver 1": [
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton"
  ],
  "Driver 2": [
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris"
  ],
  "Driver 3": [
    "Russell",
    "Giovinazzi",
    "Giovinazzi",
    "Schumacher",
    "Schumacher",
    "Schumacher",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Alonso",
    "Alonso",
    "Alonso",
    "Alonso",
    "Alonso",
    "Alonso",
    "Alonso",
    "Alonso"
  ],
  "Driver 4": [
    "Ocon",
    "Tsunoda",
    "Tsunoda",
    "Ocon",
    "Ocon",
    "Ocon",
    "Raikkonen",
    "Raikkonen",
    "Raikkonen",
    "Raikkonen",
    "Raikkonen",
    "Raikkonen",
    "Raikkonen",
    "Raikkonen",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly"
  ],
  "Driver 5": [
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Schumacher",
    "Schumacher",
    "Schumacher",
    "Schumacher",
    "Schumacher",
    "Schumacher",
    "Schumacher",
    "Schumacher",
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell"
  ],
  "Team": [
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren"
  ],
  "Turbo Driver": [
    "Ricciardo",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris"
  ],
  "Mega Driver": [
    "None",
    "Hamilton",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None"
  ],
  "Penalties": [
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0
  ],
  "Wildcard": [
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0
  ]
}
