{
  "Driver 1": [
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton"
  ],
  "Driver 2": [
    "Leclerc",
    "Leclerc",
    "Leclerc",
    "Leclerc",
    "Leclerc",
    "Leclerc",
    "Leclerc",
    "Leclerc",
    "Leclerc",
    "Leclerc",
    "Leclerc",
    "Leclerc",
    "Leclerc",
    "Leclerc",
    "Leclerc",
    "Leclerc",
    "Leclerc",
    "Leclerc",
    "Leclerc",
    "Leclerc",
    "Leclerc",
    "Leclerc"
  ],
  "Driver 3": [
    "Stroll",
    "Stroll",
    "Stroll",
    "Stroll",
    "Stroll",
    "Stroll",
    "Stroll",
    "Stroll",
    "Stroll",
    "Stroll",
    "Stroll",
    "Stroll",
    "Stroll",
    "Stroll",
    "Stroll",
    "Stroll",
    "Stroll",
    "Stroll",
    "Stroll",
    "Stroll",
    "Stroll",
    "Stroll"
  ],
  "Driver 4": [
    "Ocon",
    "Ocon",
    "Ocon",
    "Ocon",
    "Ocon",
    "Ocon",
    "Ocon",
    "Ocon",
    "Ocon",
    "Ocon",
    "Ocon",
    "Ocon",
    "Ocon",
    "Ocon",
    "Ocon",
    "Ocon",
    "Ocon",
    "Ocon",
    "Ocon",
    "Ocon",
    "Ocon",
    "Ocon"
  ],
  "Driver 5": [
    "Mazepin",
    "Mazepin",
    "Mazepin",
    "Mazepin",
    "Mazepin",
    "Mazepin",
    "Mazepin",
    "Mazepin",
    "Mazepin",
    "Mazepin",
    "Mazepin",
    "Mazepin",
    "Mazepin",
    "Mazepin",
    "Mazepin",
    "Mazepin",
    "Mazepin",
    "Mazepin",
    "Mazepin",
    "Mazepin",
    "Mazepin",
    "Mazepin"
  ],
  "Team": [
    "Ferrari",
    "Ferrari",
    "Ferrari",
    "Ferrari",
    "Ferrari",
    "Ferrari",
    "Ferrari",
    "Ferrari",
    "Ferrari",
    "Ferrari",
    "Ferrari",
    "Ferrari",
    "Ferrari",
    "Ferrari",
    "Ferrari",
    "Ferrari",
    "Ferrari",
    "Ferrari",
    "Ferrari",
    "Ferrari",
    "Ferrari",
    "Ferrari"
  ],
  "Turbo Driver": [
    "Stroll",
    "Stroll",
    "Stroll",
    "Stroll",
    "Stroll",
    "Stroll",
    "Stroll",
    "Stroll",
    "Stroll",
    "Stroll",
    "Stroll",
    "Stroll",
    "Stroll",
    "Stroll",
    "Stroll",
    "Stroll",
    "Stroll",
    "Stroll",
    "Stroll",
    "Stroll",
    "Stroll",
    "Stroll"
  ],
  "Mega Driver": [
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None"
  ],
  "Penalties": [
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0
  ],
  "Wildcard": [
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0
  ]
}
