{
  "Driver 1": [
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen"
  ],
  "Driver 2": [
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo"
  ],
  "Driver 3": [
    "Tsunoda",
    "Tsunoda",
    "Tsunoda",
    "Tsunoda",
    "Tsunoda",
    "Tsunoda",
    "Tsunoda",
    "Tsunoda",
    "Tsunoda",
    "Tsunoda",
    "Tsunoda",
    "Tsunoda",
    "Tsunoda",
    "Tsunoda",
    "Tsunoda",
    "Tsunoda",
    "Tsunoda",
    "Tsunoda",
    "Tsunoda",
    "Tsunoda",
    "Tsunoda",
    "Tsunoda"
  ],
  "Driver 4": [
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris"
  ],
  "Driver 5": [
    "Ocon",
    "Ocon",
    "Ocon",
    "Ocon",
    "Ocon",
    "Ocon",
    "Ocon",
    "Ocon",
    "Ocon",
    "Ocon",
    "Ocon",
    "Ocon",
    "Ocon",
    "Ocon",
    "Ocon",
    "Ocon",
    "Ocon",
    "Ocon",
    "Ocon",
    "Ocon",
    "Ocon",
    "Ocon"
  ],
  "Team": [
    "Red Bull",
    "Red Bull",
    "Red Bull",
    "Red Bull",
    "Red Bull",
    "Red Bull",
    "Red Bull",
    "Red Bull",
    "Red Bull",
    "Red Bull",
    "Red Bull",
    "Red Bull",
    "Red Bull",
    "Red Bull",
    "Red Bull",
    "Red Bull",
    "Red Bull",
    "Red Bull",
    "Red Bull",
    "Red Bull",
    "Red Bull",
    "Red Bull"
  ],
  "Turbo Driver": [
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo"
  ],
  "Mega Driver": [
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None"
  ],
  "Penalties": [
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0
  ],
  "Wildcard": [
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0
  ]
}
