{
  "Driver 1": [
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez"
  ],
  "Driver 2": [
    "Alonso",
    "Alonso",
    "Alonso",
    "Alonso",
    "Alonso",
    "Alonso",
    "Alonso",
    "Alonso",
    "Alonso",
    "Alonso",
    "Alonso",
    "Alonso",
    "Alonso",
    "Alonso",
    "Alonso",
    "Alonso",
    "Alonso",
    "Alonso",
    "Alonso",
    "Alonso",
    "Alonso",
    "Alonso"
  ],
  "Driver 3": [
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly"
  ],
  "Driver 4": [
    "Sainz",
    "Sainz",
    "Sainz",
    "Sainz",
    "Sainz",
    "Sainz",
    "Sainz",
    "Sainz",
    "Sainz",
    "Sainz",
    "Sainz",
    "Sainz",
    "Sainz",
    "Sainz",
    "Sainz",
    "Sainz",
    "Sainz",
    "Sainz",
    "Sainz",
    "Sainz",
    "Sainz",
    "Sainz"
  ],
  "Driver 5": [
    "Bottas",
    "Bottas",
    "Bottas",
    "Bottas",
    "Bottas",
    "Bottas",
    "Bottas",
    "Bottas",
    "Bottas",
    "Bottas",
    "Bottas",
    "Bottas",
    "Bottas",
    "Bottas",
    "Bottas",
    "Bottas",
    "Bottas",
    "Bottas",
    "Bottas",
    "Bottas",
    "Bottas",
    "Bottas"
  ],
  "Team": [
    "AlphaTauri",
    "AlphaTauri",
    "AlphaTauri",
    "AlphaTauri",
    "AlphaTauri",
    "AlphaTauri",
    "AlphaTauri",
    "AlphaTauri",
    "AlphaTauri",
    "AlphaTauri",
    "AlphaTauri",
    "AlphaTauri",
    "AlphaTauri",
    "AlphaTauri",
    "AlphaTauri",
    "AlphaTauri",
    "AlphaTauri",
    "AlphaTauri",
    "AlphaTauri",
    "AlphaTauri",
    "AlphaTauri",
    "AlphaTauri"
  ],
  "Turbo Driver": [
    "Alonso",
    "Alonso",
    "Alonso",
    "Alonso",
    "Alonso",
    "Alonso",
    "Alonso",
    "Alonso",
    "Alonso",
    "Alonso",
    "Alonso",
    "Alonso",
    "Alonso",
    "Alonso",
    "Alonso",
    "Alonso",
    "Alonso",
    "Alonso",
    "Alonso",
    "Alonso",
    "Alonso",
    "Alonso"
  ],
  "Mega Driver": [
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None"
  ],
  "Penalties": [
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0
  ],
  "Wildcard": [
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0
  ]
}
