{
  "Driver 1": [
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Leclerc",
    "Leclerc",
    "Sainz"
  ],
  "Driver 2": [
    "Schumacher",
    "Schumacher",
    "Schumacher",
    "Leclerc",
    "Leclerc",
    "Leclerc",
    "Giovinazzi",
    "Giovinazzi",
    "Giovinazzi",
    "Giovinazzi",
    "Giovinazzi",
    "Giovinazzi",
    "Russell",
    "Russell",
    "Russell",
    "Leclerc",
    "Sainz",
    "Perez",
    "Gasly",
    "Gasly",
    "Gasly",
    "Raikkonen"
  ],
  "Driver 3": [
    "Russell",
    "Russell",
    "Russell",
    "Schumacher",
    "Schumacher",
    "Schumacher",
    "Schumacher",
    "Schumacher",
    "Schumacher",
    "Schumacher",
    "Schumacher",
    "Schumacher",
    "Schumacher",
    "Schumacher",
    "Schumacher",
    "Schumacher",
    "Schumacher",
    "Schumacher",
    "Schumacher",
    "Schumacher",
    "Schumacher",
    "Schumacher"
  ],
  "Driver 4": [
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton"
  ],
  "Driver 5": [
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Sainz",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Norris"
  ],
  "Team": [
    "Mercedes",
    "Mercedes",
    "Mercedes",
    "Red Bull",
    "Red Bull",
    "Red Bull",
    "Mercedes",
    "Mercedes",
    "Mercedes",
    "Mercedes",
    "Mercedes",
    "Mercedes",
    "Mercedes",
    "Mercedes",
    "Mercedes",
    "Red Bull",
    "Red Bull",
    "AlphaTauri",
    "McLaren",
    "Red Bull",
    "Red Bull",
    "Red Bull"
  ],
  "Turbo Driver": [
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Sainz",
    "Leclerc",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Sainz",
    "Perez",
    "Gasly",
    "Leclerc",
    "Leclerc",
    "Sainz"
  ],
  "Mega Driver": [
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "Verstappen",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "Verstappen",
    "None",
    "None",
    "None"
  ],
  "Penalties": [
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0
  ],
  "Wildcard": [
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    1,
    0,
    0,
    0,
    0
  ]
}
