{
  "Driver 1": ["Verstappen", "Verstappen", "Verstappen", "Verstappen"],
  "Driver 2": ["Schumacher", "Schumacher", "Schumacher", "Leclerc"],
  "Driver 3": ["Russell", "Russell", "Russell", "Schumacher"],
  "Driver 4": ["Gasly", "Gasly", "Gasly", "Gasly"],
  "Driver 5": ["Norris", "Norris", "Norris", "Norris"],
  "Team": ["Mercedes", "Mercedes", "Mercedes", "Red Bull"],
  "Turbo Driver": ["Norris", "Norris", "Norris", "Norris"],
  "Mega Driver": ["None", "None", "None", "None"],
  "Penalties": [0, 0, 0, 0],
  "Wildcard": [0, 0, 0, 1]
}
