{
  "Driver 1": ["Perez", "Perez", "Perez", "Perez"],
  "Driver 2": ["Ricciardo", "Ricciardo", "Alonso", "Schumacher"],
  "Driver 3": ["Alonso", "Gasly", "Gasly", "Russell"],
  "Driver 4": ["Vettel", "Norris", "Norris", "Norris"],
  "Driver 5": ["Sainz", "Leclerc", "Leclerc", "Leclerc"],
  "Team": ["Ferrari", "Ferrari", "Ferrari", "Mercedes"],
  "Turbo Driver": ["Perez", "Perez", "Leclerc", "Leclerc"],
  "Mega Driver": ["None", "None", "None", "None"],
  "Penalties": [0, 0, 0, 0],
  "Wildcard": [0, 0, 0, 0]
}
