{
  "Driver 1": [
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Ricciardo",
    "Sainz",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Leclerc",
    "Sainz",
    "Leclerc",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Verstappen"
  ],
  "Driver 2": [
    "Ricciardo",
    "Ricciardo",
    "Alonso",
    "Schumacher",
    "Schumacher",
    "Schumacher",
    "Schumacher",
    "Schumacher",
    "Schumacher",
    "Schumacher",
    "Schumacher",
    "Schumacher",
    "Schumacher",
    "Sainz",
    "Sainz",
    "Leclerc",
    "Sainz",
    "Sainz",
    "Sainz",
    "Sainz",
    "Sainz",
    "Sainz"
  ],
  "Driver 3": [
    "Alonso",
    "Gasly",
    "Gasly",
    "Russell",
    "Giovinazzi",
    "Verstappen",
    "Alonso",
    "Ocon",
    "Leclerc",
    "Raikkonen",
    "Gasly",
    "Gasly",
    "Gasly",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris"
  ],
  "Driver 4": [
    "Vettel",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly"
  ],
  "Driver 5": [
    "Sainz",
    "Leclerc",
    "Leclerc",
    "Leclerc",
    "Leclerc",
    "Leclerc",
    "Leclerc",
    "Verstappen",
    "Verstappen",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Schumacher",
    "Schumacher",
    "Schumacher",
    "Schumacher",
    "Schumacher",
    "Schumacher",
    "Schumacher",
    "Schumacher",
    "Russell"
  ],
  "Team": [
    "Ferrari",
    "Ferrari",
    "Ferrari",
    "Mercedes",
    "Mercedes",
    "McLaren",
    "Red Bull",
    "Red Bull",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "Ferrari",
    "Mercedes",
    "Mercedes",
    "Mercedes",
    "Mercedes",
    "Mercedes",
    "Red Bull"
  ],
  "Turbo Driver": [
    "Perez",
    "Perez",
    "Leclerc",
    "Leclerc",
    "Leclerc",
    "Leclerc",
    "Leclerc",
    "Perez",
    "Perez",
    "Norris",
    "Norris",
    "Sainz",
    "Leclerc",
    "Norris",
    "Norris",
    "Leclerc",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Norris"
  ],
  "Mega Driver": [
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "Perez",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "Hamilton",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None"
  ],
  "Penalties": [
    0,
    0,
    0,
    0,
    0,
    0,
    1,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0
  ],
  "Wildcard": [
    0,
    0,
    0,
    1,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    1,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0
  ]
}
