{
  "Driver 1": ["Hamilton", "Hamilton", "Hamilton", "Hamilton"],
  "Driver 2": ["Vettel", "Alonso", "Stroll", "Ocon"],
  "Driver 3": ["Russell", "Russell", "Russell", "Raikkonen"],
  "Driver 4": ["Norris", "Norris", "Norris", "Norris"],
  "Driver 5": ["Ocon", "Gasly", "Gasly", "Gasly"],
  "Team": ["McLaren", "McLaren", "McLaren", "McLaren"],
  "Turbo Driver": ["Vettel", "Norris", "Norris", "Norris"],
  "Mega Driver": ["None", "None", "None", "None"],
  "Penalties": [0, 0, 0, 0],
  "Wildcard": [0, 0, 0, 0]
}
