{
  "Hamilton": [
   45,
   85,
   128,
   172,
   209,
   214,
   250,
   288,
   313,
   378
  ],
  "Bottas": [
    32,
    23,
    55,
    82,
    85,
    89,
    111,
    145,
    182,
    223
  ],
  "Verstappen": [
    35,
    79,
    116,
    157,
    217,
    226,
    275,
    319,
    368,
    386
  ],
  "Perez": [
    23,
    28,
    51,
    74,
    102,
    153,
    191,
    213,
    227,
    249
  ],
  "Ricciardo": [
    15,
    34,
    48,
    71,
    74,
    87,
    108,
    111,
    130,
    157
  ],
  "Norris": [
    29,
    63,
    90,
    102,
    151,
    183,
    211,
    233,
    264,
    317
  ],
  "Vettel": [
    12,
    13,
    17,
    20,
    48,
    84,
    100,
    107,
    111,
    110
  ],
  "Stroll": [
    11,
    29,
    37,
    45,
    62,
    42,
    49,
    65,
    65,
    87
  ],
  "Alonso": [
    -8,
    6,
    23,
    18,
    28,
    51,
    68,
    79,
    96,
    131
  ],
  "Ocon": [
    11,
    24,
    42,
    51,
    65,
    52,
    52,
    60,
    46,
    56
  ],
  "Leclerc": [
    20,
    48,
    70,
    98,
    103,
    128,
    126,
    142,
    157,
    205
  ],
  "Sainz": [
    11,
    34,
    36,
    49,
    85,
    93,
    103,
    127,
    155,
    176
  ],
  "Gasly": [
    2,
    19,
    29,
    42,
    64,
    107,
    125,
    120,
    135,
    143
  ],
  "Tsunoda": [
    16,
    22,
    24,
    10,
    12,
    25,
    31,
    44,
    42,
    59
  ],
  "Raikkonen": [
    12,
    25,
    12,
    27,
    36,
    53,
    55,
    70,
    72,
    81
  ],
  "Giovanazzi": [
    5,
    13,
    21,
    25,
    36,
    42,
    48,
    53,
    63,
    75
  ],
  "Schumacher": [
    11,
    22,
    33,
    40,
    40,
    55,
    59,
    72,
    81,
    89
  ],
  "Mazepin": [
    -14,
    -8,
    -4,
    0,
    11,
    21,
    21,
    27,
    31,
    42
  ],
  "Russell": [
    10,
    -1,
    2,
    12,
    22,
    25,
    37,
    26,
    31,
    47
  ],
  "Latifi": [
    1,
    -12,
    -10,
    -2,
    6,
    17,
    17,
    21,
    23,
    31
  ]
}
