{
  "Hamilton": [
    33.5,
    33.4,
    33.4,
    33.3,
    33.3,
    33.3,
    33.2,
    33.1,
    33.1,
    33.0,
    33.0
  ],
  "Bottas": [
    23.6,
    23.5,
    23.5,
    23.3,
    23.2,
    23.1,
    23.0,
    23.0,
    23.0,
    23.0,
    23.0
  ],
  "Verstappen": [
    24.8,
    25.1,
    25.2,
    25.3,
    25.3,
    25.4,
    25.5,
    25.5,
    25.6,
    25.7,
    25.7
  ],
  "Perez": [
    18.4,
    18.4,
    18.4,
    18.3,
    18.1,
    18.0,
    18.3,
    18.5,
    18.8,
    18.8,
    18.8
  ],
  "Ricciardo": [
    17.3,
    16.8,
    16.6,
    16.4,
    16.2,
    16.2,
    16.0,
    15.9,
    15.9,
    15.8,
    15.8
  ],
  "Norris": [
    13.1,
    13.4,
    13.5,
    13.7,
    13.9,
    13.9,
    13.9,
    13.9,
    14.0,
    14.0,
    14.1
  ],
  "Vettel": [
    16.2,
    15.5,
    15.3,
    15.0,
    15.0,
    14.9,
    14.9,
    15.1,
    15.2,
    15.2,
    15.2
  ],
  "Stroll": [
    13.9,
    13.7,
    13.6,
    13.6,
    13.5,
    13.4,
    13.4,
    13.3,
    13.3,
    13.3,
    13.3
  ],
  "Alonso": [
    15.6,
    15.2,
    15.1,
    15.0,
    15.0,
    14.8,
    14.8,
    14.8,
    14.8,
    14.8,
    14.8
  ],
  "Ocon": [
    10.1,
    9.7,
    9.7,
    10.0,
    10.4,
    10.5,
    10.4,
    10.4,
    10.3,
    10.1,
    10.1
  ],
  "Leclerc": [
    16.8,
    17.4,
    17.5,
    17.8,
    18.1,
    18.3,
    18.3,
    17.9,
    17.6,
    17.5,
    17.5
  ],
  "Sainz": [
    14.4,
    14.3,
    14.3,
    14.4,
    14.3,
    14.6,
    14.7,
    14.6,
    14.3,
    14.3,
    14.4
  ],
  "Gasly": [
    11.7,
    11.7,
    11.7,
    11.7,
    11.6,
    11.5,
    11.7,
    11.8,
    11.9,
    11.9,
    11.9
  ],
  "Tsunoda": [
    8.8,
    9.4,
    9.4,
    9.2,
    8.8,
    8.5,
    8.4,
    8.4,
    8.5,
    8.5,
    8.5
  ],
  "Raikkonen": [
    9.6,
    9.5,
    9.4,
    9.4,
    9.3,
    9.4,
    9.3,
    9.3,
    9.3,
    9.3,
    9.3
  ],
  "Giovanazzi": [
    7.9,
    7.9,
    7.8,
    7.8,
    7.8,
    7.9,
    8.0,
    8.0,
    8.0,
    8.0,
    8.0
  ],
  "Schumacher": [
    5.8,
    5.8,
    5.7,
    5.7,
    5.8,
    5.9,
    5.8,
    5.8,
    5.8,
    5.8,
    5.8
  ],
  "Mazepin": [
    5.5,
    5.3,
    5.3,
    5.3,
    5.3,
    5.3,
    5.3,
    5.3,
    5.3,
    5.3,
    5.3
  ],
  "Russell": [
    6.2,
    6.2,
    6.2,
    6.3,
    6.3,
    6.2,
    6.2,
    6.2,
    6.2,
    6.2,
    6.2
  ],
  "Latifi": [
    6.5,
    6.5,
    6.5,
    6.4,
    6.4,
    6.4,
    6.4,
    6.4,
    6.4,
    6.4,
    6.4
  ]
}
