{
  "Hamilton": [],
  "Bottas": [],
  "Verstappen": [],
  "Perez": [],
  "Ricciardo": [],
  "Norris": [],
  "Vettel": [],
  "Stroll": [],
  "Alonso": [],
  "Ocon": [],
  "Leclerc": [],
  "Sainz": [],
  "Gasly": [],
  "Tsunoda": [],
  "Raikkonen": [],
  "Giovanazzi": [],
  "Schumacher": [],
  "Mazepin": [],
  "Russell": [],
  "Latifi": []
}
