{
  "Hamilton": [
    45,
    40,
    43,
    44,
    37,
    5,
    36,
    38,
    25
  ],
  "Bottas": [
    32,
    -9,
    32,
    27,
    3,
    4,
    22,
    34,
    37
  ],
  "Verstappen": [
    35,
    44,
    37,
    41,
    60,
    9,
    49,
    44,
    49
  ],
  "Perez": [
    23,
    5,
    23,
    23,
    28,
    51,
    38,
    22,
    14
  ],
  "Ricciardo": [
    15,
    19,
    14,
    23,
    3,
    13,
    21,
    3,
    19
  ],
  "Norris": [
    29,
    34,
    27,
    12,
    49,
    32,
    28,
    22,
    31
  ],
  "Vettel": [
    12,
    1,
    4,
    3,
    28,
    36,
    16,
    7,
    4
  ],
  "Stroll": [
    11,
    18,
    8,
    8,
    17,
    -20,
    7,
    16,
    0
  ],
  "Alonso": [
    -8,
    14,
    17,
    -5,
    10,
    23,
    17,
    11,
    17
  ],
  "Ocon": [
    11,
    13,
    18,
    9,
    14,
    -13,
    0,
    8,
    -14
  ],
  "Leclerc": [
    20,
    28,
    22,
    28,
    5,
    25,
    -2,
    16,
    15
  ],
  "Sainz": [
    11,
    23,
    2,
    13,
    36,
    8,
    10,
    24,
    28
  ],
  "Gasly": [
    2,
    17,
    10,
    13,
    22,
    43,
    18,
    -5,
    15
  ],
  "Tsunoda": [
    16,
    6,
    2,
    -14,
    2,
    13,
    6,
    13,
    -2
  ],
  "Raikkonen": [
    12,
    13,
    -13,
    15,
    9,
    17,
    2,
    15,
    2
  ],
  "Giovanazzi": [
    5,
    8,
    8,
    4,
    11,
    6,
    6,
    5,
    10
  ],
  "Schumacher": [
    11,
    11,
    11,
    7,
    0,
    15,
    4,
    13,
    9
  ],
  "Mazepin": [
    -14,
    6,
    4,
    4,
    11,
    10,
    0,
    6,
    4
  ],
  "Russell": [
    10,
    -11,
    3,
    10,
    10,
    3,
    12,
    -11,
    5
  ],
  "Latifi": [
    1,
    -13,
    2,
    8,
    8,
    11,
    0,
    4,
    2
  ]
}
