{
  "Mercedes": [
    67,
    103,
    173,
    239,
    264,
    273,
    326,
    388,
    460,
    546
  ],
  "Red Bull": [
    53,
    97,
    152,
    211,
    289,
    334,
    406,
    467,
    530,
    573
  ],
  "McLaren": [
    39,
    87,
    133,
    163,
    195,
    235,
    279,
    299,
    344,
    402
  ],
  "Aston Martin": [
    18,
    32,
    39,
    45,
    85,
    116,
    139,
    157,
    156,
    185
  ],
  "Alpine": [
    13,
    35,
    65,
    64,
    83,
    103,
    115,
    129,
    142,
    170
  ],
  "Ferrari": [
    26,
    72,
    91,
    127,
    178,
    206,
    204,
    239,
    277,
    349
  ],
  "AlphaTauri": [
    13,
    36,
    43,
    52,
    71,
    112,
    136,
    154,
    157,
    175
  ],
  "Alfa Romeo": [
    12,
    28,
    33,
    47,
    62,
    85,
    88,
    103,
    110,
    124
  ],
  "Haas": [
    7,
    19,
    29,
    35,
    46,
    66,
    65,
    79,
    87,
    99
  ],
  "Williams": [
    6,
    10,
    10,
    23,
    36,
    39,
    46,
    49,
    57,
    74
  ]
}
