{
  "Driver 1": [
    "Bottas",
    "Bottas",
    "Bottas",
    "Bottas",
    "Bottas",
    "Bottas",
    "Bottas",
    "Bottas",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Hamilton",
    "Hamilton",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen"
  ],
  "Driver 2": [
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Sainz",
    "Sainz",
    "Sainz",
    "Sainz",
    "Sainz",
    "Perez",
    "Sainz",
    "Sainz",
    "Leclerc",
    "Stroll",
    "Vettel",
    "Leclerc",
    "Sainz",
    "Leclerc",
    "Leclerc",
    "Leclerc",
    "Leclerc",
    "Leclerc"
  ],
  "Driver 3": [
    "Stroll",
    "Stroll",
    "Stroll",
    "Stroll",
    "Stroll",
    "Stroll",
    "Perez",
    "Perez",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez"
  ],
  "Driver 4": [
    "Giovinazzi",
    "Giovinazzi",
    "Giovinazzi",
    "Giovinazzi",
    "Giovinazzi",
    "Giovinazzi",
    "Giovinazzi",
    "Giovinazzi",
    "Giovinazzi",
    "Giovinazzi",
    "Giovinazzi",
    "Gasly",
    "Gasly",
    "Gasly",
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell"
  ],
  "Driver 5": [
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Leclerc",
    "Leclerc",
    "Alonso",
    "Alonso",
    "Alonso",
    "Gasly",
    "Ricciardo",
    "Alonso",
    "Russell",
    "Russell",
    "Sainz",
    "Alonso",
    "Norris",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly"
  ],
  "Team": [
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "Ferrari",
    "Ferrari",
    "McLaren",
    "McLaren",
    "Ferrari",
    "McLaren",
    "McLaren",
    "Alpine",
    "McLaren",
    "McLaren",
    "Alpine",
    "Alpine",
    "Ferrari",
    "Ferrari",
    "Ferrari",
    "Ferrari",
    "Ferrari",
    "Ferrari"
  ],
  "Turbo Driver": [
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Sainz",
    "Sainz",
    "Perez",
    "Perez",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Leclerc",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez"
  ],
  "Mega Driver": [
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "Verstappen",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "Verstappen",
    "None",
    "None",
    "None"
  ],
  "Penalties": [
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0
  ],
  "Wildcard": [
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    1,
    0,
    0,
    0,
    0,
    0,
    0
  ]
}
