{
  "Driver 1": [
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen"
  ],
  "Driver 2": [
    "Vettel",
    "Vettel",
    "Vettel",
    "Vettel",
    "Vettel",
    "Vettel",
    "Vettel",
    "Vettel",
    "Vettel",
    "Vettel",
    "Vettel",
    "Vettel",
    "Vettel",
    "Vettel",
    "Vettel",
    "Vettel",
    "Vettel",
    "Vettel",
    "Vettel",
    "Vettel",
    "Vettel",
    "Ocon"
  ],
  "Driver 3": [
    "Alonso",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Leclerc",
    "Leclerc",
    "Leclerc",
    "Leclerc",
    "Leclerc",
    "Leclerc",
    "Leclerc",
    "Leclerc",
    "Leclerc",
    "Leclerc",
    "Leclerc",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly"
  ],
  "Driver 4": [
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris"
  ],
  "Driver 5": [
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell"
  ],
  "Team": [
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren"
  ],
  "Turbo Driver": [
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris"
  ],
  "Mega Driver": [
    "None",
    "None",
    "None",
    "Verstappen",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "Gasly",
    "None",
    "None",
    "None",
    "None",
    "None"
  ],
  "Penalties": [
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0
  ],
  "Wildcard": [
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    1
  ]
}
