{
  "Driver 1": [
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton"
  ],
  "Driver 2": [
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo"
  ],
  "Driver 3": [
    "Stroll",
    "Stroll",
    "Stroll",
    "Stroll",
    "Stroll",
    "Stroll",
    "Stroll",
    "Stroll",
    "Stroll",
    "Stroll",
    "Stroll",
    "Stroll",
    "Stroll",
    "Stroll",
    "Stroll",
    "Stroll",
    "Stroll",
    "Stroll",
    "Stroll",
    "Stroll",
    "Stroll",
    "Stroll"
  ],
  "Driver 4": [
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell"
  ],
  "Driver 5": [
    "Ocon",
    "Ocon",
    "Ocon",
    "Ocon",
    "Ocon",
    "Ocon",
    "Ocon",
    "Ocon",
    "Ocon",
    "Ocon",
    "Ocon",
    "Ocon",
    "Ocon",
    "Ocon",
    "Ocon",
    "Ocon",
    "Ocon",
    "Ocon",
    "Ocon",
    "Ocon",
    "Ocon",
    "Ocon"
  ],
  "Team": [
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren"
  ],
  "Turbo Driver": [
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo"
  ],
  "Mega Driver": [
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "Hamilton"
  ],
  "Penalties": [
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0
  ],
  "Wildcard": [
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0
  ]
}
