{
    "Mercedes": ["Hamilton", "Bottas"],
    "Red Bull": ["Verstappen", "Perez"],
    "McLaren": ["Ricciardo", "Norris"],
    "Aston Martin": ["Vettel", "Stroll"],
    "Alpine": ["Alonso", "Ocon"],
    "Ferrari": ["Leclerc", "Sainz"],
    "AlphaTauri": ["Gasly", "Tsunoda"],
    "Alfa Romeo": ["Raikkonen", "Giovinazzi"],
    "Haas": ["Schumacher", "Mazepin"],
    "Williams": ["Russell", "Latifi"]
}