{
  "Driver 1": [
    "Mazepin",
    "Mazepin",
    "Mazepin",
    "Mazepin",
    "Mazepin",
    "Mazepin",
    "Mazepin",
    "Mazepin",
    "Russell",
    "Schumacher",
    "Schumacher",
    "Schumacher",
    "Schumacher",
    "Schumacher",
    "Schumacher",
    "Schumacher",
    "Schumacher",
    "Schumacher",
    "Schumacher",
    "Schumacher",
    "Schumacher",
    "Schumacher"
  ],
  "Driver 2": [
    "Perez",
    "Bottas",
    "Bottas",
    "Bottas",
    "Bottas",
    "Bottas",
    "Bottas",
    "Bottas",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly"
  ],
  "Driver 3": [
    "Alonso",
    "Alonso",
    "Alonso",
    "Alonso",
    "Alonso",
    "Alonso",
    "Alonso",
    "Alonso",
    "Raikkonen",
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Stroll",
    "Stroll",
    "Stroll",
    "Stroll",
    "Stroll",
    "Stroll"
  ],
  "Driver 4": [
    "Tsunoda",
    "Latifi",
    "Latifi",
    "Raikkonen",
    "Raikkonen",
    "Raikkonen",
    "Raikkonen",
    "Raikkonen",
    "Vettel",
    "Alonso",
    "Alonso",
    "Alonso",
    "Alonso",
    "Alonso",
    "Alonso",
    "Alonso",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris"
  ],
  "Driver 5": [
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Hamilton",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen"
  ],
  "Team": [
    "Haas",
    "Haas",
    "Haas",
    "Haas",
    "Haas",
    "Haas",
    "Haas",
    "Haas",
    "Red Bull",
    "Red Bull",
    "Red Bull",
    "Red Bull",
    "Red Bull",
    "Red Bull",
    "Red Bull",
    "Red Bull",
    "Red Bull",
    "Red Bull",
    "Red Bull",
    "Red Bull",
    "Red Bull",
    "Red Bull"
  ],
  "Turbo Driver": [
    "Mazepin",
    "Mazepin",
    "Mazepin",
    "Mazepin",
    "Mazepin",
    "Mazepin",
    "Mazepin",
    "Mazepin",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly"
  ],
  "Mega Driver": [
    "None",
    "Hamilton",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "Norris",
    "None",
    "None",
    "None",
    "None",
    "None"
  ],
  "Penalties": [
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0
  ],
  "Wildcard": [
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    1,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0
  ]
}
