{
  "Driver 1": [
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Ricciardo",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Gasly",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez"
  ],
  "Driver 2": [
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris"
  ],
  "Driver 3": [
    "Sainz",
    "Sainz",
    "Sainz",
    "Sainz",
    "Sainz",
    "Sainz",
    "Sainz",
    "Sainz",
    "Sainz",
    "Sainz",
    "Sainz",
    "Sainz",
    "Sainz",
    "Sainz",
    "Sainz",
    "Sainz",
    "Sainz",
    "Sainz",
    "Sainz",
    "Sainz",
    "Sainz",
    "Sainz"
  ],
  "Driver 4": [
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Russell",
    "Alonso",
    "Alonso",
    "Alonso",
    "Alonso",
    "Alonso",
    "Alonso",
    "Alonso",
    "Schumacher",
    "Schumacher",
    "Schumacher",
    "Schumacher",
    "Schumacher",
    "Schumacher"
  ],
  "Driver 5": [
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen",
    "Verstappen"
  ],
  "Team": [
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren",
    "McLaren"
  ],
  "Turbo Driver": [
    "Russell",
    "Russell",
    "Russell",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Norris",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez",
    "Perez"
  ],
  "Mega Driver": [
    "None",
    "None",
    "None",
    "Verstappen",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "None",
    "Norris",
    "None",
    "None",
    "None",
    "None",
    "None"
  ],
  "Penalties": [
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0
  ],
  "Wildcard": [
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0
  ]
}
